h1 {
    color: red;
    background-color: forestgreen;
}

h2 {
    color: blue;
    background-color: black
}

p {
    color: darkgoldenrod;
    background-color: brown;
    font-family: Algerian
}

#nota1 {
    color: blueviolet;
    background-color: chartreuse;
    font-family: Algerian
}
input{
    background-color:lightgreen
}